<?xml version="1.0" ?>
<!--
 *
 * @author        Viha Digital Commerce Team <naeem@vdcstore.com>.
 * @copyright     Copyright(c) 2021 Viha Digital Commerce
 * @link          https://www.vihadigitalcommerce.com/
 * @date          09/Sep/2021
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Iram\Appointments\Api\AppointmentRepositoryInterface" type="Iram\Appointments\Model\AppointmentRepository"/>
	<preference for="Iram\Appointments\Api\Data\AppointmentInterface" type="Iram\Appointments\Model\Data\Appointment"/>
	<preference for="Iram\Appointments\Api\Data\AppointmentSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Iram\Appointments\Model\ResourceModel\Appointment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">iram_appointments_appointment</argument>
			<argument name="resourceModel" xsi:type="string">Iram\Appointments\Model\ResourceModel\Appointment\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="iram_appointments_appointment_listing_data_source" xsi:type="string">Iram\Appointments\Model\ResourceModel\Appointment\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>