<?xml version="1.0" ?>
<!--
 *
 * @author        Viha Digital Commerce Team <naeem@vdcstore.com>.
 * @copyright     Copyright(c) 2021 Viha Digital Commerce
 * @link          https://www.vihadigitalcommerce.com/
 * @date          09/Sep/2021
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="iram" translate="label" sortOrder="999">
			<label>iram</label>
		</tab>
		<section id="iram" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Appointment</label>
			<tab>iram</tab>
			<resource>Iram_Appointments::config_iram_appointments</resource>
			<group id="appointment" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Appointment</label>
				<field id="slots_per_emp" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Slots Per Employee</label>
				</field>
			</group>
		</section>
	</system>
</config>